// Place all the styles related to the mailings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mailings {
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .info {
    font-style: italic;
    font-size: 12px;
  }
  p { margin: 5px 0;
      }
}

h4 {
    font-size: 14px;
    margin: 10px 50px 20px;
}

.comment {
  width: 500px;
  padding: 0 20px;
  margin: 10px 0;
  font-weight: normal;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #BBB;
  border-bottom-color: #AAA;
  background-color: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
  background: -moz-linear-gradient(top,  #EEE, #DDD);
  p {
    margin: 10px 0;
  }
}

form.meuform {
    width: 75%;
    font-weight: bold;
    /* Or fill in whatever width and height values you need */
}

form.meuform label {
  float: right;
  width: 800px;
  text-align: left;
  margin: 2px 20px;
  font-weight: bold;
}

form.meuform select {
  float: left;
  width: 300px;
  text-align: left;
  margin: 5px 100px;
}

form.meuform textarea {
  width: 600px;
  height: 200px;
  text-align: left;
  margin: 5px 100px;
}

form.meuform .cabecalho {
  margin: 5px 100px;
}

form.meuform .form_row {
  position: absolute;
  top: 210px;
  left: 750px;
  border: .1em solid #000; 
  padding: 10px;
  width: 350px;
  text-align: center;
  line-height: 50%;
}

form.meuform .form_row label {
  width: 280px;
}

form.meuform .error_messages {
  color: #FF0000;
}

form.meuform .help-inline {
  width: 280px;
  color: #FF0000;
  margin: 5px 100px;
}

form.meuform .help-block {
  margin: 5px 100px;
  font-style: italic;
}

.charNum {
  position: relative;
  float: right;
  margin: -265px 180px;
  font-style: italic;
  clear: both;
}

